<style>
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://i.ibb.co/0MZg3Y5/Screenshot-20230707-202902-One-Shot-Golf-450x1002.jpg');
  width: 208px;
  height: 950px;
  background-repeat: no-repeat;
}

.heart {
  font-size: 150px;
  color: #e00;
  animation: beat 0.25s infinite alternate;
  transform-origin: center;
}

@keyframes beat {
  to {
    transform: scale(1.4);
  }
}
</style>
